.what-content .box {
    display: flex;
    text-align: left;
}

.what-content .box i {
    margin: 2rem;
    align-self: center;
}

.what-content .box h3{
    padding: 10px 0;
}

/*map*/
#contact #map-container{
    flex:2;
}